{% extends 'base.html.twig' %}

{% block title %}Usuarios{% endblock %}

{% block body %}
{% if is_granted('ROLE_ADMIN') %}
    <h1>Listado usuarios registrados</h1>
    Bienvenido, {{ app.user.nombre }},{{ app.user.roles ? app.user.roles|json_encode : '' }} <a href="{{ path('app_logout') }}">Salir</a><br>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Email</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Cedula</th>
                <th>Pais</th>
                <th>Roles</th>
                <th>Password</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.nombre }}</td>
                <td>{{ user.apellido }}</td>
                <td>{{ user.cedula }}</td>
                <td>{{ user.pais }}</td>
                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
                <td>{{ user.password }}</td>
                <td>
                    <a href="{{ path('user_show', {'id': user.id}) }}">show</a>
                    <a href="{{ path('user_edit', {'id': user.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('user_new') }}">Create new</a>
       
{% endif %}
{% if is_granted('ROLE_USER') %}
<h1>Usuario</h1>
 Bienvenido, {{ app.user.nombre }},{{ app.user.roles ? app.user.roles|json_encode : '' }} <a href="{{ path('app_logout') }}">Salir</a><br>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Email</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Cedula</th>
                <th>Pais</th>
                <th>Roles</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ app.user.id }}</td>
                <td>{{ app.user.email }}</td>
                <td>{{ app.user.nombre }}</td>
                <td>{{ app.user.apellido }}</td>
                <td>{{ app.user.cedula }}</td>
                <td>{{ app.user.pais }}</td>
                <td>{{ app.user.roles ? app.user.roles|json_encode : '' }}</td>
                <td>
                    <a href="{{ path('user_edit', {'id': app.user.id}) }}">Editar</a>
                </td>
            </tr>
        </tbody>
    </table>
{% endif %}
{% endblock %}
