{% extends 'base.html.twig' %}

{% block title %}Formulario registro{% endblock %}

{% block body %}

    {{ form_start(formulario_registro) }}
    {{ form_row(formulario_registro.nombre) }}
    {{ form_row(formulario_registro.apellido) }}
    {{ form_row(formulario_registro.email) }}
    {{ form_row(formulario_registro.cedula) }}
    {{ form_row(formulario_registro.pais) }}
    {{ form_row(formulario_registro.password) }}
    


    <button type="submit">Registrarse!</button>
{{ form_end(formulario_registro) }}

{% for flash_message in app.session.flashbag.get('EXITO') %}
    <div class="flash-notice">
        {{ flash_message }}
    </div>
{% endfor %}

{% endblock %}
